@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to left, #CC33FF, #0099CC); 
  --foreground: #171717; 
  --text-color: #FFFFFF; 
  --font-size: 30px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to left, #CC33FF, #0099CC); 
    --foreground: #ededed; 
    --text-color: #000000; 
  }
}

body {
  color: var(--foreground); 
  background: var(--background); 
  font-family: 'Dancing Script', cursive; 
  font-size: var(--font-size); 
}

.post-body {
  font-size: 50px; 
  line-height: 2.5; 
}
